<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<body>
<meta http-equiv="refresh" content="0.5" >

<table>
    <tr>
        <th width="50%">
            {% block camera %}
            <h1 style="text-align: center">In store</h1>
             <img src="{{ url_for('static', filename=img ) }}" width="50%">
            {% endblock %}
        </th>
        <th width="50%">
            {% block shelves %}
            <div class="content">
                <h1 style="text-align: center">Shelves to clean</h1>
                <table>
                    <tr>
                        <th>Number</th>
                        <th>Danger</th>
                        <th>Actions</th>
                    </tr>
                    {% for sh in shelves %}
                    <tr>
                        {% if shelves[sh] == 'red' %}
                    <tr style="background-color: rgb(165,60,60)">
                        {%- elif shelves[sh] == 'yellow' %}
                    <tr style="background-color: rgb(214,167,55)">
                        {%- else -%}
                    <tr style="background-color: rgb(120,200,140)">
                        {%- endif -%}

                        <td>{{sh}}</td>
                        <td>{{shelves[sh]}}</td>
                        <td>
                            <a href="/clear/{{sh}}">Clear</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endblock %}
        </th>
    </tr>

</body>
</html>